@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.chats {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  animation: 0.5s reveal;
  gap: 20px;
}

.header {
  width: 100%;
  height: 5%;
  display: flex;
  color: var(--light);
}

.headerText {
  margin: auto;
  margin-left: 0;
  font-size: 1.5vw;
}

.search {
  width: 100%;
  height: 5%;
  display: flex;
  background-color: var(--darkest);
  border-radius: 5px;
}

.searchIcon {
  width: 15%;
  height: 100%;
  font-size: 1vw;
  color: var(--lightestDark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 70%;
  height: 100%;
}

.searchBar input {
  background-color: transparent;
  color: var(--lightestDark);
  border: none;
  height: 100%;
  width: 100%;
}

.searchBar input:focus {
  outline: none;
}

.addIcon {
  width: 15%;
  height: 100%;
  font-size: 1vw;
  color: var(--lightestDark);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.messages {
  width: 100%;
  height: 90%;
  overflow: auto;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .headerText {
    font-size: 6vw;
  }

  .search {
    height: 10%;
  }

  .searchIcon {
    font-size: 4vw;
  }
}
