@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contactsContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  animation: 0.5s reveal;
  gap: 20px;
}

.header {
  width: 100%;
  height: 5%;
  display: flex;
  color: var(--light);
}

.headerText {
  margin: auto;
  margin-left: 0;
  font-size: 1.5vw;
}

.addIcon {
  margin: auto;
  margin-right: 0;
  font-size: 1vw;
  cursor: pointer;
}

.search {
  width: 100%;
  height: 5%;
  display: flex;
  background-color: var(--darkest);
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.searchIcon {
  height: 100%;
  margin-left: auto;
  aspect-ratio: 1;
  font-size: 1vw;
  background: var(--lightestDark);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchBar {
  width: 85%;
  height: 100%;
  padding: 0 1vw;
  position: relative;
}

.clearName {
  position: absolute;
  font-size: 1vw;
  color: var(--dark);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.searchBar input {
  background-color: transparent;
  color: var(--lightestDark);
  border: none;
  height: 100%;
  width: 100%;
}

.searchBar input:focus {
  outline: none;
}

.contacts {
  width: 100%;
  height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.users {
  position: absolute;
  left: 0;
  top: calc(100% + 0.5vw);
  background: white;
  width: 100%;
  border-radius: 5px;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .headerText {
    font-size: 6vw;
  }

  .search {
    height: 10%;
  }

  .searchIcon {
    font-size: 4vw;
  }

  .searchBar {
    width: 85%;
    padding: 0 2vw;
  }

  .clearName {
    font-size: 4vw;
    color: var(--lightestDark);
    right: 2vw;
  }

  .users {
    top: calc(100% + 1vw);
    padding: 5px;
    gap: 5px;
  }
}
