.chatContainer {
  width: 70%;
  background-color: var(--darkest);
}

.details {
  height: 10%;
  border-bottom: 1px solid var(--dark);
  padding: 20px;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--darkest);
  border-radius: 5px;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.image {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-weight: 300;
}

.name {
  width: 80%;
  display: flex;
  align-items: center;
  color: var(--light);
  font-size: 1.25vw;
}

.options {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--lightestDark);
}

.messagesContainer {
  height: 80%;
  overflow: auto;
  padding: 20px;
}

.messageContainer {
  height: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 1vw;
}

.emojiPicker {
  width: 5%;
  cursor: pointer;
}

.messageInput {
  width: 90%;
  color: var(--light);
  padding: 1vw;
  border-radius: 5px;
}

.sendButton {
  width: 5%;
  cursor: pointer;
}

.messageContainer aside {
  background-color: var(--darkest) !important;
  box-shadow: none !important;
  border: 1px solid var(--dark) !important;
}

.messageContainer ul::before {
  background-color: var(--darkest) !important;
}

.messageContainer ul::before {
  background-color: var(--darkest) !important;
}

.messageContainer nav {
  background-color: var(--light) !important;
  opacity: 1;
}

.messageContainer input {
  background-color: transparent;
  border: 1px solid var(--dark) !important;
}

.messageContainer input:focus {
  border: 1px solid var(--light) !important;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .chatContainer {
    width: 100%;
    height: 90%;
  }

  .details {
    padding: 10px;
  }

  .image {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    font-size: 4vw;
    width: 40%;
  }

  .options {
    width: 45%;
  }

  .messagesContainer {
    height: 80%;
  }

  .messageContainer {
    height: 10%;
    font-size: 4vw;
    background-color: var(--dark);
    color: var(--light);
  }

  .emojiPicker {
    width: 10%;
  }

  .messageInput {
    width: 80%;
    padding: 2vw;
    color: var(--darkest);
  }

  .messageContainer input {
    border: 1px solid var(--light) !important;
    outline: none;
  }

  .messageContainer input:focus {
    border: 1px solid var(--darkest) !important;
  }

  .sendButton {
    width: 10%;
    cursor: pointer;
  }
}
