.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.title {
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
}

.avatars {
  height: 10vw;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 3vw;
}

.avatar {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.avatar img {
  width: 100%;
}

.selected {
  box-shadow: 0 0 0 0.5vw var(--darkest), 0 0 0 1vw var(--purple);
}

.selectAvatar {
  padding: 1vw 2vw;
  background-color: var(--purple);
  border-radius: 10px;
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  cursor: pointer;
  font-weight: bold;
}
